# Build
build/

# Editor
*~
*.swp

# OS
.DS_Store

# Python
.venv/
__pycache__/
*.pyc

# Configurator local files
dronecan_output_controller_configurator/.venv/

# Local configurator saved configurations
dronecan_output_controller_configurator/*.json
